/.idea/.idea.ContactsManagerApp/
/.mfractor/
/.vs/ContactsManagerApp/xs/
/ContactsManagerApp.Android/obj/
/ContactsManagerApp/bin/Debug/netstandard2.0/
/ContactsManagerApp/obj/
/ContactsManagerApp.iOS/bin/iPhoneSimulator/Debug/
/ContactsManagerApp.iOS/obj/
